
/* Navbar */
nav {
    background-color: rgba(250, 250, 250, 0.85) !important;
  }

/* Showcase */
#showcase {
    background-image: url('img/framing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 65vh;
}

.showcase-title {
  font-size: 8rem;
}

#showcase p {
  font-size: 3rem;
}

@media screen and (max-width: 1250px) {
  .showcase-title {
    font-size: 6rem;
  }
}

@media screen and (max-width: 800px) {
  .showcase-title {
    font-size: 4rem;
  }

  #showcase p {
    font-size: 2rem;
  }

  #showcase {
    height: 45vh;
  }
}

/* About */
#about {
  background-image: url('img/drywall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 30px;
}

.about-row {
  max-width: 65%;
}
.about-card {
  margin-top: -50px;
}

.about-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  min-height: 15rem;
}

@media screen and (max-width: 1875px) {
  .card {
    min-height: 19rem;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    min-height: 32rem;
  }
}

@media screen and (max-width: 600px) {
  .card {
    min-height: 15rem;
  }
}

.card-text {
  font-size: 1.3rem;
}

.ha-row {
  padding-top: 3rem;
}

.ha-logos {
  max-width: 40%;
  height: auto;
}

@media screen and (max-width: 900px) {
  .about-row {
    max-width: 85%;
  }

}

@media screen and (max-width: 600px) {
  .about-card {
    margin-top: 10px;
  }
}

#contact-bar {
  background-color: rgb(19, 55, 100);
}

#services {
  background-image: url('img/drywall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 6rem;
  padding-top: 60px;
  margin-top: -20px;
}

.service-rows {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#testimonials {
  margin-top: -30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url('img/back2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.carousel {
  height: 23rem !important;
}

@media screen and (max-width: 500px) {
  .carousel {
    height: 32rem !important;
  }
}

@media screen and (max-width: 385px) {
  .carousel {
    height: 37rem !important;
  }
}

@media screen and (max-width: 385px) {
  .carousel {
    height: 45rem !important;
  }
}

.map {
  background-image: url('img/map.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 25rem;
}

@media screen and (max-width: 500px) {
  .map {
    height: 10rem;
  }
}

#contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url('img/drywall.jpg');
}

.contact {
  margin-top: auto;
  margin-bottom: auto;
}

.contact-text {
  margin-top: auto;
  margin-bottom: auto;
}

.contact-icons {
  margin-left: 20x;
  margin-right: 20px;
}

.contact-card {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.45);
}

.form {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  height: 90px;
}



